
.bg-info{
    background-image: url("https://uploaddeimagens.com.br/images/002/675/959/full/morenopqn.jpg?1590629197");
    background-color: #330000!important;
    background-repeat: no-repeat;
    background-size: 1350px 500px;
}

#cabecalho{
    background-image: url("https://i.ibb.co/zmRKPpS/headerteste.jpg");
    height: 150px;
    width: 1350px;
    background-size: cover;

}

#Enviar{  
    background-color: green;
    position: relative;
    left: 345px;
}

html{
    background-color: #000a25;
}
body{
    background-color: #000a25;
}
